body {
    font-family: Helvetica;
}

/* nav bar */
.navbar {
    background-color: #db5406;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.navbar-brand {
    font-family: "Oswald";
    font-size: 40px;
    font-weight: 700;
}

/* hero section */

#hero_section {
    background-image: url(../img/hero-image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

#hero_section div {
    position: absolute;
    bottom: 45px;
    left: 0;
    right: 0;
    margin: auto;
}

.hero-line {
    width: 345px;
}

#hero_section h1 {
    font-family: "Oswald";
    font-size: 72px;
}
#hero_section h1:first-child {
    font-family: "Oswald";
    font-size: 72px;
    font-weight: 200;
}
#hero_section h1:last-child {
    font-family: "Oswald";
    font-size: 72px;
    font-weight: 900;
}

/* sobre mi  */

#sobre-mi {
    color: #373A3C;
    font-family: "Open Sans";
    line-height: 3;
}

/* mi experiencia */

#esperiencia div h1 {
    font-family: "Oswald";
    font-size: 52px;
}

#experiencia div:last-child article h4:first-child {
    font-family: "Oswald";
}

#experiencia div:last-child {
    font-family: "Open Sans";
    font-weight: 300;
}

/* Mis ultimos trabajos */
#trabajos {
    background-color: #db5406;
    font-family: "Oswald";
}

#trabajos h1 {
    font-size: 52px;
}

/* contacto */

#contacto h1 {
    font-family: "Oswald";
    font-size: 52px;
}

/* footer  */

#footer {
    background-color: #db5406;
}

#footer h1 {
    font-family: "Oswald";
}

#footer a {
    color: #000;
}